body {

	background-color: #FFF6D8;
	color: #000000;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 20px;
	text-align: center;
}

div {
	text-align: left;
}

a {
	color: #669EBF;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #339900;
	text-decoration: underline;
}

a img {
	border-style: none;
}

#logo {

	background-image: url(images/logo.gif);
	border-color: #ff9900;
	border-style: solid;
	border-width: 1px;
	font-size: 10px;
	height: 140px; width: 100%;
	position: relative;
}


#footer {
	background-color: #A9D0E5;
	clear: both;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	padding: 5px;
	position: relative;
	text-align: center;
	width: 732px;
}




.menu {
	background-color: #ffffff;
	border-color: #ff9900;
	border-style: solid;
	border-width: 1px;
	margin: 0px 0px 10px 0px;
	position: relative;
	width: 100%;
}
.inlineborder {
	border-color: #000000 #cccccc #ffffff #cccccc;
	border-style: solid none solid none;
	border-width: 1px;
	height: 100%;
	position: relative;
	width: 100%;
}
.header {
	background-color: #ff9900;
	border-color: #ffffff;
	border-style: solid none solid none;
	border-width: 1px;
	color: #ffffff;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 1px;
	padding: 0px;
	position: relative;
	width: 100%;
}
.spacer {
	padding: 4px;
}
.menucontent {
	font-size: 10px;
	line-height: 130%;
	padding: 6px;
	position: relative;
}
.maincontent {
	background-color: #ffffff;
	color: #000000;
	font-size: 11px;
	line-height: 130%;
	padding: 10px;

}

.commentnumber {
               color: #996600;
}

.date {
      color: #999900;
      font-size: 10px;
}

.comment {
	color: red;
	font-weight: normal;
}

h1 {
	display: block;
	color: #339900;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}


hr {
	background-color: #cccccc;
	color: #cccccc;
	height: 1px;
	margin: 20px auto 20px auto;
	width: 90%;
}

hr.statsline 
{
	border: 0;
	margin: 0;
	width: 100%;
}

.listspacer {
	height: 10px;
	width: 10px;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#navcontainer ul {
	color: #000000;
}
#navcontainer ul li a {
	background: transparent url(images/list-off.gif) left no-repeat;
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
	color: #999;
}

#navcontainer ul li a:hover {
	background: url(images/list-on.gif) left center no-repeat;
	color: black;
	text-decoration: none;
}

#navcontainer ul li a#current {
	background: transparent url(https://eql.quakeworld.nu/eql1/images/list-active.gif) left center no-repeat;
	color: #666666;
}

#mainlogin {
	float: right;
	padding: 10px;
}

select.login {
	width: 180px;
}
input.login {
	width: 100px;
}

#mainlogin .button {
	width: auto;
}

input, select, textarea {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	width: 300px;
}

textarea {
	height: 240px;
}

input.button {
	background-color: #006699;
	border-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	padding: 2px;
	width: auto;
}

input.radio {
	width: auto;
}

.formbody {
	clear: both;
	display: block;
}
.formlabel {
	clear: both;
	display: block;
	margin-top: 10px;
}


table.list {
	width: 100%;
}

table.list th {
	font-weight: bold;
	text-align: left;
}

table.viewitem {
	width: 100%;
}

table.viewitem th {
	font-weight: normal;
	padding: 2px;
	text-align: left;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.italics {
	font-style: italic;
}
